@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(-45deg, #1F75FE,#6A5ACD, #3457D5, #23a6d5,#4D4DFF, #23d5ab,#191970);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Poppins', sans-serif;
}

@keyframes gradient 
{
  0% 
  {
		background-position: 0% 50%;
	}
  50% 
  {
		background-position: 100% 50%;
	}
  100% 
  {
		background-position: 0% 50%;
	}
}

/* Hospital Icon */
.imgcontainer .slider 
{
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background-image: url(hospital-icons/1.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  padding-top: 25px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 150px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
  0 10px 10px rgba(0,0,0,0.22);
  animation: slide 25s ease-in-out infinite;
}

/* Hospital Icons Animation  */
@keyframes slide
{
  20%
  {
    background-image: url(hospital-icons/2.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  40%
  {
    background-image: url(hospital-icons/3.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  50%{
    background-image: url(hospital-icons/4.png);
  background-position: center;
  background-repeat: no-repeat;
  }
  60%
  {
    background-image: url(hospital-icons/5.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  70%
  {
    background-image: url(hospital-icons/6.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  80%
  {
    background-image: url(hospital-icons/7.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  90%
  {
    background-image: url(hospital-icons/8.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  100%
  {
    background-image: url(hospital-icons/1.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width:500px)
{
	.imgcontainer .slider 
	{
		transform: scale(0.8);
	}
}

@media only screen and (min-width:500px)
{
	body
	{
		height: 100vh;
		margin: -20px 0 50px;
	}
}
@media only screen and (max-width:500px)
{

	h1
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.form-container h1
{
    color: #2D68C4;
}

p {
	font-size: 13px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.2px;
	margin: 20px 0 30px 10px;
}

span {
	font-size: 12px;
}

a
{
    color: #FFF;
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0;
}


.container
{
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                0 10px 10px rgba(0,0,0,0.22);
    width: 95%;
    height: 90vh;  /*was 80vh*/
    padding-bottom: 70%;
    position: relative;
	overflow: hidden;
margin-bottom: 10px;
}

.form-container form
{
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container
{
    margin: 5px 0;
}

.social-container a
{
    color: #2D68C4;
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 10px;
	height: 40px;
	width: 40px;

}

.or{
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #2D68C4;
}

.forgot {
    font-size: 12px;
    color: rgb(17, 16, 16);
    margin-top: -5px;
}

/* or start a new */
#sign_up
{
    line-height: 20px;
    color: #2D68C4;
}

input {
	background-color: #eee;
    color: #2D68C4;
	border: none;
    border-radius: 20px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
input:focus {
	outline: none;
}

button {
	border-radius: 50px;
	border: 1px solid #2D68C4;
	background-color: #2D68C4;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	font-size: 1px;
	font-weight: bold;
	padding: 12px 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button.ghost {
    font-size: 13px;
    background-color: white;
    color: #2D68C4;
	border-style: none;
	box-shadow: 5px 5px 20px rgba(255,255,255,0.2),
                -5px -5px 20px rgba(255,255,255,0.2);
    margin-left: 25%;
}

.form-container
{
    position: absolute;
    top: 10px;
    /* height: 100%; */
    transition: all 0.6s ease-in-out;

}

.sign-in-container
{
    left: 0;
    width: 100%;
    z-index: 2;
}
.sign-up-container
{
    top: 5%;
    width: 100%;
    z-index: 1;
    opacity: 0;
}

/* sign in as user button */
.login-user
{
    margin-top: -10px;
    
}

#signIn
{
    margin-left: -5px;
}

.overlay-container {
	position: relative;
	top: 110%;
	width: 100%;
	height: 200%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.overlay {
	background: #00BFFF;
	background: -webkit-linear-gradient(-45deg,#6F00FF,#00BFFF);
	background: linear-gradient(-45deg,#00BFFF,#6F00FF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
    height: 200%;
    position: relative;
    transform: translateY(0);
    transition: tranform 0.6s ease-in-out;
}

.overlay-panel 
{
    position: absolute;
    margin: 20% 0;
    padding: 10% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200%; */
    text-align: center;
    transform: translateY(0);
    transition: tranform 0.6s ease-in-out;
}

.overlay-right
{
    margin-bottom: 20%;
    padding-bottom: 20%;
    margin-top: -5%;
}


.overlay-right button
{
    transform: translateX(-20%);
}

.overlay-left
{
    transform: translateY(-150%);
}

.container.right-panel-active .sign-in-container
{
    transform: translateY(-100%); 
}

.container.right-panel-active .overlay-container
{
    transform: translateY(-120%); 
}

.container.right-panel-active .sign-up-container
{
    transform: translateY(90%); /* try 100 and 120 */
    opacity: 1;
    z-index: 5;
}

.container.right-panel-active .overlay
{
    transform: translateY(10%); 
}

.container.right-panel-active .overlay-left
{
    transform: translateY(120%); 
}
}


@media only screen and (min-width:500px)
{
    
h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #FFF;
	font-size: 13px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 50px;
	border: 1px solid #2D68C4;
	background-color: #2D68C4;
	font-family: 'Poppins', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}
button:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
#sign_up{
    font-size: 13px;
    margin-bottom: 5px;
}
.bar{
    color: black;
    background-color: #2D68C4;
    margin: 10px;
    height: 2px;
    width: 80%;
}


form {
	background-color: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
    text-align: center;
    color: #2D68C4;
}

input {
	background-color: #eee;
    color: #2D68C4;
	border: none;
  border-radius: 20px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
input:focus {
	outline: none;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #00BFFF;
	background: -webkit-linear-gradient(-45deg,#6F00FF,#00BFFF);
	background: linear-gradient(-45deg,#00BFFF,#6F00FF);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	color: #2D68C4;
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.forgot{color: rgb(17, 16, 16);}
}
